/* color */

/*$color-main: #000 */

/*font-weight */

/* assign default value to all undefined variables */

/* core variables */

/* global */

/* admin menu & admin-bar */

.survey-print h1,
    .survey-print h2,
    .survey-print p.center {
        text-align: center;
}

.survey-print td {
        vertical-align: top;
}

.survey-print .fix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.survey-print .fix-page {
        page-break-after: always;
}

.survey-print .fix-page:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.survey-print h1 {
        font-size: 5mm;
        margin-top: 1mm;
}

.survey-print h2 {
        font-size: 4mm;
}

.survey-print h1,
    .survey-print h2 {
        margin-bottom: 3mm;
}

.survey-print p,
    .survey-print ul {
        margin: 1mm;
}

.survey-print li {
        margin: 0;
}

.survey-print td {
        margin: 2mm 4mm;
}

.survey-print p,
    .survey-print td {
        font-size: 3mm;
        line-height: 3.2mm;
}

.survey-print ul {
        padding-left: 2mm;
}

.survey-print .split {
        width: 50%;
        float: left;
}

.survey-print .survey-underline-bold {
        font-weight: 700;
        padding: 0 2mm;
        border-bottom: 0.1mm solid black;
        margin: 0 1mm;
}

.survey-print .survey-bold {
        font-weight: 700;
}

.survey-print .signature-underline {
        font-weight: 700;
        width: 90%;
        margin-top: 6mm;
        font-size: 4mm;
        border-bottom: 0.1mm solid black;
}

.survey-print .signature-underline-empty {
        font-weight: 700;
        width: 90%;
        height: 1cm;
        border-bottom: 0.1mm solid black;
}

.survey-print .signature {
        width: 90%;
        text-align: center;
        font-size: 2.5mm;
        height: 2mm;
}

.hrs-title {
    position: relative;
    width: 98%;
}

.hrs-title img {
        width: 100%;
}

.hrs-title-table {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.hrs-title-table table {
        font-size: 3.8mm;
        margin: auto;
}

.hrs-body {
    width: 98%;
}

.hrs-body h1 {
        text-align: center;
        font-size: 7mm;
}

.hrs-body table.hrs-table-about,
    .hrs-body table.hrs-footer {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
}

.hrs-body table.hrs-table-about td,
        .hrs-body table.hrs-table-about tr,
        .hrs-body table.hrs-footer td,
        .hrs-body table.hrs-footer tr {
            border: 1px solid black;
}

.hrs-body table.hrs-table-about td, .hrs-body table.hrs-footer td {
            width: 20%;
}

.hrs-body table.hrs-table-data {
        margin-top: 5mm;
        width: 100%;
        border: 1px solid black;
        border-collapse: collapse;
}

.hrs-body table.hrs-table-data td,
        .hrs-body table.hrs-table-data tr {
            border: 1px solid black;
}

.hrs-body td {
        text-align: center;
        padding: 1mm;
        font-size: 3.5mm;
}

.hrs-body .hrs-bold {
        font-weight: 700;
}

.hrs-body table.hrs-footer {
        margin-top: 5mm;
        page-break-after: always;
}

@page {
    margin: 5mm;
}

/*# sourceMappingURL=style-survey.css.map */
